/* <-- Website Background image --> */
body {
  background-color: #ffffff;
  background-image: url("../images/bg3.jpg");
}

.jumbotron {
  background-image: url("../images/jumbo2.jpg");
  background-size: cover;
  height: 100%;
  color: #e6e2e2;
}
.aboutMe {
  display: flexbox;
  justify-content: center;
  padding: 20px;
  height: 40%;
  /* color: rgb(210, 216, 218); */
  background-color: rgba(192, 185, 185, 0.7);
  text-align: left;
  margin: 0px 135px 50px 135px;
}
.aboutMe img {
  max-height: 140px;
  float: left;
  margin-right: 50px;
}

.mySkills {
  padding: 20px;
  justify-content: center;
  /* color: rgb(210, 216, 218); */
  /* background-color: rgba(0, 0, 0, 0.7); */
  text-align: center;
  margin: 0px 50px 20px 50px;
}
/* .mySkills img {
  max-height: 100px;
  float: left;
  margin-right: 50px;
} */

.bg-black {
  background-color: #ffffff !important;
}

.contactMe {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
  margin-bottom: 50px;
  color: black;
}

.footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

.footer p {
  font-size: 12px;
  margin: 0;
}

ul.mySkills {
  text-align: center;
}
.container {
  box-sizing: border-box;
  padding-bottom: 5%;
}
