.jumbotron {
  background-image: url("./images/background5.jpg");
  background-size: cover;
  height: 100%;
}
.aboutMe {
  display: flexbox;
  padding: 20px;
  height: 170px;
  /* color: rgb(210, 216, 218); */
  background-color: rgba(192, 185, 185, 0.7); */
  text-align: left;
  margin: 50px 10%;
}
.aboutMe img {
  max-height: 100%;
  float: left;
  margin-right: 50px;
}

.mySkills {
  padding: 20px;
  justify-content: center;
  /* color: rgb(210, 216, 218); */
  /* background-color: rgba(0, 0, 0, 0.7); */
  text-align: center;
  margin: 0px 50px 0px 50px;
}
.mySkills img {
  max-height: 100px;
  float: left;
  margin-right: 50px;
}

.bg-black {
  background-color: #ffffff !important;
}

.contactMe {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
  margin-bottom: 50px;
  color: black;
}

.footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

.footer p {
  font-size: 12px;
  margin: 0;
}

ul.mySkills {
  text-align: center;
}
